body {
  margin: 0;
  padding: 0;
}

#map {
  border-left: 15px solid #e75ba0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 3;
  bottom: 0;
  margin-left: 2rem;
  margin-bottom: 3rem;
  max-width: 100px;
}


.map-legend {
  position: absolute;
  font-family: monospace;
  top: 3rem;
  left: 2rem;
  padding: 5px;
  width: 15%;
  border: 2px solid #e75ba0;
  font-size: 1em;
  color: #173362;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
}

#menu {
  position: absolute;
  top: 20rem;
  left: 2rem;
  background: #fff;
  border-radius: 3px;
  width: 120px;
  border: 1px solid #e75ba0;
  font-family: monospace;
  z-index: 10;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}